<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>delete nota </div>
        <p> SEI  SICURO  DI  VOLER CANCELLARE LA NOTA  NUMERO <spam th:text="${nota.titolo}"></spam></p>
       <form action="#" th:action="@{|/confirm/${nota.id}|}"  th:object="${nota}" method="post">
            <p> <input  type="submit" value="conferma"/></p>
      
        </form>
      
          
    </body>
</html>
